<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>IA App</title>
    <!-- styles -->
</head>

<body>
    <nav class="menu" ng-cloak>
        <div ng-show="user.role == 'Admin'">
            <ul ng-controller="adminRouteController">
                <li>
                    <a ng-click="showUserList()">UserList</a>
                </li>
                <li>
                    <a ng-click="showClinics()">Clinics</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div ng-view></div>
    </div>
    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script src="./main.js"></script>
    <script src="./services.js"></script>
    <script src="./controllers.js"></script>
</body>

</html>
