<div ng-if="user.role == 'Admin'" ng-controller="clinicController">
    <ul ng-repeat="clinic in clinics">
        <li>
            <p>{{clinic.name}}</p>
            <p ng-click="remove(clinic)">X</p>
        </li>
    </ul>
    <input ng-model="name">
    <button ng-click="create(name)">Add</button>
</div>
<div ng-if="user.role == 'User'" ng-controller="clinicController">
    <p>Lista klinik</p>
    <ul class="clinic-list">
        <li ng-repeat="clinic in clinics">
            <p ng-click="showVisits(clinic)">{{clinic.name}}</p>
        </li>
    </ul>
    <div class="doctors" ng-if="duties">
    <p>Lekarze w wybranej klinice</p>
    <ul>
        <li ng-repeat="doctor in duties">
            <a href="" ng-click="showSpecificDuties(doctor)">{{doctor.doctor.username}}</a>
        </li>
    </ul>
</div>
    <div ng-if="specificDuties">
    	<p>Dyżury</p>
    <ul>
    	<li>Dzień Godzina startu Godzina zakończenia</li>
        <li ng-repeat="duty in specificDuties">

        	<p>{{duty.day}} {{duty.hourStart}} {{duty.hourEnd}}</p>

        </li>
    </ul>
    <div>
    	<input type="text" ng-model="hour">
    	<button ng-click="addVisit(hour)">Add visit</button>
    </div>
    </div>
</div>
