<div ng-if="user.role == 'Admin'" ng-controller="clinicController">
    <ul ng-repeat="clinic in clinics">
        <li>
            <p>{{clinic.name}}</p>
            <p ng-click="remove(clinic)">X</p>
        </li>
    </ul>
    <input ng-model="name">
    <button ng-click="create(name)">Add</button>
</div>
<div ng-if="user.role == 'User'" ng-controller="clinicController">
    <ul>
        <li ng-repeat="clinic in clinics">
            <p ng-click="showVisits(clinic)">{{clinic.name}}</p>
        </li>
    </ul>
    <ul class="doctors">
        <li ng-repeat="doctor in duties">
            <a href="" ng-click="showSpecificDuties(doctor)">{{doctor.doctor.username}}</a>
        </li>
    </ul>
    <div ng-if="specificDuties">
    <ul>
        <li ng-repeat="duty in specificDuties">
        	<p>{{duty.hourStart}} {{duty.hourEnd}}</p>

        </li>
    </ul>
    <div>
    	<input type="text" ng-model="hour">
    	<button ng-click="addVisit(hour)">Add visit</button>
    </div>
    </div>
</div>
